body {
  font-family: 'Roboto mono', monospace;
  font-size: 22px;
  text-align:center;
  background-image: url('https://wallpaper.dog/large/11014200.jpg');
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.descricao {
  font-family: 'Roboto Mono',monospace;
  color: white;
  font-size: 18px;
  text-shadow: #000 2px 3px 2px;
}


.container {
  text-align: center;
  padding: 15px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.pipoca {
  width: 60px;

}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right:10px;
}

body > img {
  margin: 0 10px;
}


.banner{
    margin: 7px 10px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 182px;
}


span {
  text-align:center;
  width: auto;
  color: white;
  display: block;
  color: white;
  text-shadow: #000 2px 2.5px 2px;
  font-size: 16px;

}
